/* This is a comment */


body{
    font-family: Helvetica;
    background-color: #eeeeee;
}

div {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

h1{
    font-size: 10px;
    margin: 2;
}

h2{
  color: #555;
  border-top: solid 1px #123;
}

#emphasis {
    font-size: 30px;
}

#veryimportant{
    font-size: 100px;
    font-family: Monaco;
}
