<<<<<<< HEAD
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
/***********************************************
                     Global
***********************************************/
*{
  margin: auto;
}

.wrap{
  position: absolute;
  left: 80px;
  width: 94.5%;
  height: 100%;
}

div .container{
    padding: 0;
}
/***********************************************
                Navigation Bar
***********************************************/
#nav_bar .logo{
  padding: 10px 0 0 10px;
}

.logo img{
  width: 100%;
  padding-right: 10px;
}

.navbar-nav{
  padding-left: 12px;
}

ul.nav a:hover, ul.nav a:focus, ul.nav a:active  {
  background-color:#282726;
}

ul.nav a:hover{
    color:#31e6ff !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#31e6ff !important;
    background-color: #282726;
}

#nav_bar {
    background: #282726;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 500px
}

#nav_bar nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%
}
#nav_bar nav a {
    font-size: 24px;
    color: #4d4d4e;
    display: block;
    line-height: 25px;
    height: 65px;
    position: relative
}
#nav_bar nav a i {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
#nav_bar nav a:hover i {
    opacity: 0;
}

#nav_bar nav a:after {
    font-size: 10px;
    position: absolute;
    bottom: 19px;
    display: block;
    margin:0 auto;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}
#nav_bar nav .home-page-link:first-child:after {
    content: 'HOME'
}
#nav_bar nav .about-me-link:first-child:after {
    content: 'ABOUT'
}
#nav_bar nav .skills-link:first-child:after {
    content: 'SKILLS'
}
#nav_bar nav .portfolio-link:first-child:after {
    content: 'PORTFOLIO'
}
#nav_bar nav .contact-link:first-child:after {
    content: 'CONTACT'
}

#nav_bar nav a:hover:after {
    opacity: 1;
}
/***********************************************
                Header
***********************************************/
/* Header Text */
 .hero-content{
  font-family: 'Black Ops One', cursive;
  color: white;
}

.blast {
    display: inline-block
}

.home-page .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.home-page .blast:hover {
    color: #31e6ff;
}

#fullscreen-hero {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #2A3A3F;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.home-hero {
    background-image: url(https://rawgit.com/jmars125/portfolio/master/img/coding-bg.jpg)
}

/* applies dark gradient to unbrighten image */
.home-hero:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(90deg, rgba(49, 61, 65, 0.6), rgba(49, 61, 65, 0.6))
}

.hero-container {
    display: table;
    margin: 0 auto;
    height: 100%
}

.hero-content {
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle
}
.hero-content h1 {
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 0rem
}

.learn-more {
    bottom: 2.5%;
    display: inline-block;
    font-size: 1.3rem;
    left: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    transition: color 0.2s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.learn-more a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-bottom: none
}
.learn-more a:hover {
    color: rgba(255, 255, 255, 0.9)
}
/***********************************************
                About Me
***********************************************/
.sectionAboutMe {
    padding: 100px 0;
    margin: auto;
    background-color:#fff;
}

hr.hrStyle {
	border-top: 1px solid #8c8b8b;
	text-align: center;
    border-color: #31e6ff;
}
hr.hrStyle:after {
	content: 'ยง';
	display: inline-block;
	position: relative;
	top: -14px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
/***********************************************
                Skills
***********************************************/
.sectionSkills {
    padding: 0 0 300px 0;
    background-color:#fff;
}

.svgSize{
    width: 100px;
}
/***********************************************
                Portfolio
***********************************************/
.sectionPortfolio{
  padding: 0 0 300px 0;
}

.projectInfo {
    font-size: 11px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 2px 50px 0px 50px;
    line-height: 15px;
    color: #31e6ff
}

.projectBox {
    float: left;
    background-color: #fff;
    text-align: center;
    letter-spacing: 3px;
    color: #292E37;
    padding: 55px 0px 25px 0px;
    height: 220px;
    font-family: 'monsteratt', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    width: 100%;
}
.projectBox img {
    width: 100%;
    max-width: 210px;
    margin-bottom: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
/***********************************************
             Modal's for Portfolio
***********************************************/
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.projectModalTitle {
    color: #292E37;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
}
.projectModalService {
    font-size: 13px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 4px;
    background-color: #c1e4ff;
    text-align: left;
    width: 35%;
    margin: 0 0 10px 0;
}

.projectModalClose{
  text-align:right;
}

.projectModalButton {
    background-color: #55acee;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 5% 10px 5%;
    width: 35%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}
.projectModalButton:hover {
    background-color: #1b95e0;
    cursor: pointer;
}
/***********************************************
                Contact Me
***********************************************/
.sectionContact{
/*     height: 80vh; */
    padding: 0 0 100px 0;
}

#map{
    width: 100%;
    height: 400px;
    background-color: grey;
}

.contactH1{
    font-family: 'Black Ops One', cursive;
    font-size: 48px;
}

.pH1{
    font-family: 'lato', cursive;
    font-size: 25px;
}

.emailBtn {
    padding: 25px 0px 25px 0;
    background-color: #55acee;
    height: auto;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-family: 'lato';
    color: #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-appearance: none;
    width: 90%;
    margin: 0px 5% 0px 5%;
}
.emailBtn:hover {
    background-color: #1b95e0;
    cursor: pointer;
}
.emailBtnBkg {
    width: 100%;
    margin: 0px auto;
    max-width: 460px;
}

/***********************************************
                Footer
***********************************************/

.top-bar, .bottom-bar {
  padding: 20px;
}
.vertical-container {
  align-items:center;
  display: flex;
  background: #292E37;
  color: #fff;
}

.button-box{
  background-color: #282726;
}

.button-box:hover{
  color: #31e6ff;
}

/***********************************************
                Screen Transitions
***********************************************/
@media screen and (min-width: 750px) {
    .hero-content h1 {
        font-size: 3.4rem
    }
}
@media screen and (min-width: 1000px) {
    .hero-content h1 {
        font-size: 5.7rem
    }
}

@media screen and (min-width: 750px) {
    .learn-more {
        font-size: 1.7rem
    }
}

@media(max-width:960px) {
    .home-hero{
        width:100%;
    }
    .wrap{
    position: absolute;
    left:0px;
      width: 100%;
    }

    #nav_bar {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0
    }

  .logo img{
    width:70px;
    padding-top:3px;
  }

    #nav_bar nav {
        width: 42%;
        position: absolute;
        left: 50%;
        margin-left: -19%;
        float: left;
        overflow: hidden;
        text-align: center;
        height: 100px;
        padding-top: 10px;
        top: 0;
        margin-top: 0
    }
    #nav_bar nav a {
        float: left;
        margin-left: 12%;
        line-height: 60px;
        height: 60px
    }
    #nav_bar nav a:first-child {
        margin-left: 0
    }

    #nav_bar nav a:first-child + a + a:after {
    content: 'Portfolio'
  }

    #nav_bar nav a:first-child + a + a + a:after {
    content: 'Contact'
}

  .container{
    padding-top: 100px;
  }

  h1{
    font-size: 30px;
    padding-top: 155px;
    line-height: 30px;
  }

  .text-zone{
      height: 50vh;
      line-height: 10px;
      text-align: center;
  }
}

@media (max-width: 768px) {
    .home-hero{
        width:50%;
    }
  #nav_bar nav a {
        margin-left: 10%
    }
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
}

@media(max-width: 508px){
    #nav_bar nav a{
        padding: 10px;
    }

    #nav_bar nav ul{
        text-align: center;
    }

    .emailBtnBkg{
        padding-bottom: 20px;
    }

}

@media (max-width: 470px){
    #nav_bar nav a {
        padding: 5px;
    }

=======
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");

/* Base Styles
********************************************************************* */
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222;
}
/* Grid
********************************************************************* */
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
=======
/* This is a comment */
.jumbotron {
  background: linear-gradient(lime, #008000);
  padding: 2px;
>>>>>>> parent of f3f7ab4... Test
}

.contact{
  margin-left: 351px;
  font-family: montez;
  color: black;
}
.about {
  margin-left:25px;
  font-family: montez;
  color: black;

}
.protfolio {
  margin-left:11px;
  font-family: montez;
  color: black;
}
.title{
  font-family: montez;
}
body{
   background: linear-gradient(#007000,lime)
}
#about{

 background: #8E4587;

  color: black;

}

.space{
  hight: 400px;
  width: 400px;
  padding-left:60px;
}
#portfolio{
  background: #551a8b ;
}
.Email{

  color: black;

}
.Phone{

  color: black;

}
#contact{

background: lightgrey;

<<<<<<< HEAD
#about {
	padding: 100px 0 50px 0;
}
/* Team Section
********************************************************************* */
#team {
	padding: 50px 0 100px 0;
}
#team .icon {
	font-size: 26px;
}
/* Skills Section
********************************************************************* */
#skills {
	padding: 100px 0 100px 0;
	background-color: #F5F5F5;
}
.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
}
.progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: .33em;
}
.progressBarContainer {
	width: 100%;
	height: 8px;
	background: #E1E1E1;
	overflow: hidden;
}
.progressBarValue {
	height: 8px;
	float: left;
	background: #e55d87; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
}
.value-00 {
	width: 0;
}
.value-10 {
	width: 10%;
}
.value-20 {
	width: 20%;
}
.value-30 {
	width: 30%;
}
.value-40 {
	width: 40%;
}
.value-50 {
	width: 50%;
}
.value-60 {
	width: 60%;
}
.value-70 {
	width: 70%;
}
.value-80 {
	width: 80%;
}
.value-90 {
	width: 90%;
}
.value-100 {
	width: 100%;
}
/* Portfolio Section
********************************************************************* */
#portfolio {
	padding: 100px 0 100px 0;
}
.image {
	background-color: #5a5a5a;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	transition: .5s;
}
.image:hover {
	opacity: 0.6;
	transition: .3s;
	background-image: url(../images/hoverbg.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* Testimonial Section
********************************************************************* */
#testimonial {
	background-color: #F5F5F5;
	padding: 100px 0 100px 0;
}
.quoteLoop {
	height: auto;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.quote {
	margin: 10px 30px;
	height: inherit;
	top: 0px;
	display: none;
	text-align: center;
}
/* Contact Section
********************************************************************* */
#contact {
	padding: 100px 0 100px 0;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #F5F5F5;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
}
textarea {
	min-height: 250px;
}
input[type="submit"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #0cc;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #5fc3e4;
	border-radius: 0px;
	border: 0;
	cursor: pointer;
	box-sizing: border-box;
}
input[type="submit"]:hover {
	background: #e55d87;
	text-decoration: none;
}
/* Footer Section
********************************************************************* */
footer {
	min-height: 120px;
	padding: 40px 0 40px 0;
	background: #e55d87;
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );
	box-sizing: border-box;
}
footer p {
	color: #FFFFFF;
	margin: 20px 0 0 0;
}
.socialIcons {
	font-size: 34px;
	color: rgba(255, 255, 255, 0.7);
}
/* Lists
********************************************************************* */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 3rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}
/* Spacing
********************************************************************* */
button, .button {
	margin-bottom: 1rem;
}
input, textarea, select, fieldset {
	margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table, p, ul, ol, form {
	margin-bottom: 2.5rem;
}
/* Utilities
********************************************************************* */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}
/* Clearing
********************************************************************* */
.container:after, .row:after, .u-cf {
	content: "";
	display: table;
	clear: both;
}
/* Misc
********************************************************************* */

.icon {
	padding-right: 10px;
	color: #e55d87;
}
.block {
	width: 70px;
	height: 2px;
	background: #e55d87; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	margin-bottom: 50px;
>>>>>>> parent of d103224... Redo
=======
>>>>>>> parent of f3f7ab4... Test
}
