/* This is a comment */


body{
    font-family: Helvetica;
    background-color: #24db84;
}

h1{
    font-size: 10px;
    margin: 2;
}

h2{
  color: #555;
  border-top: solid 1px #123;
}

#emphasis {
    font-size: 30px;
}

#veryimportant{
    font-size: 30px;
    font-family: Monaco;
}
